{% extends "base_codematch.html" %}

{% load ietf_filters bootstrap3 widget_tweaks %}
{% load future %}

{% block title %} Create a new CodeMatch Project{% endblock %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block pagehead %}
  <link rel="stylesheet" href="/css/lib/select2.css">
  <link rel="stylesheet" href="/css/lib/select2-bootstrap.css">
{% endblock %}

{% block content %}
<div class="content">
<h1 class="col-xs-offset-1">Create a New Codematch Project</h1>
<br />
  {% bootstrap_messages %}

<form class="form-horizontal" action="/codematch/new/" method="post">

    {{ formset.management_form }}
    {% csrf_token %}
    {% for form in formset %}
	{% for field in form %}
	<div class="form-group">
		<label class="control-label col-xs-1">{{ field.name }}</label>
		<div class="col-xs-4">
			{{ field }}
		</div>
	</div>
	{% endfor %}
    {% endfor %}
    <div class="form-group">
    	<div class="col-xs-offset-4">
    		<input type="submit" class="btn btn-primary" value="Submit" />
    	
    		<a class="btn btn-default " href="{% url "ietf.codematch.views.showlist" %}">Back</a>
    	</div>
    </div>
</form>
</div>
{% endblock %}