{# Copyright The IETF Trust 2015, All Rights Reserved #}{% load origin %}{% origin %}
{% load ietf_filters community_tags wg_menu streams_menu active_groups_menu %}

    <li class="dropdown">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="icon ion-arrow-shrink" ></i> Projects </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="{% url 'ietf.codestand.matches.views.show_list' %}">All Projects</a>
                    </li>
                    {% if mycodings or canaddcoding %}
                    <li>
                        <a href="{% url 'ietf.codestand.matches.views.show_list' 'True' %}">My Projects</a>
                    </li>
                    {% endif %}
                </ul>
    </li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-microphone" ></i> CodeRequests </a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="{% url 'ietf.codestand.requests.views.show_list' %}">All CodeRequests</a>
            </li>
            {% if projectsowner or canaddrequest %}
            <li>
                <a href="{% url 'ietf.codestand.requests.views.show_list' 'mylist' %}">CodeRequests I've Created</a>
            </li>
            {% endif %}
            {% if projectsmentoring or ismentor %}
            <li>
                <a href="{% url 'ietf.codestand.requests.views.show_list' 'mentoring' %}">CodeRequests I'm Mentoring</a>
            </li>
            {% endif %}
        </ul>
    </li>
    
    <li class="dropdown">
        <a href="{% url 'ietf.codestand.accounts.views.top_coders' %}">  <i class="fa fa-star" ></i>Top Coders</a>
    </li>

<li class="divider hidden-xs"></li>   