{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}{% origin %}
{% load ietf_filters community_tags wg_menu streams_menu %}
{% load staticfiles %}

<!-- My CodeMatches widget -->
<div class="col-md-4">
  <div class="widget">
    <!-- Widget title -->
    <div class="widget-head">
      <div class="pull-left"><i class="icon ion-arrow-shrink"> </i> My CodeMatches</div>
      <div class="widget-icons pull-right">
        <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
        <a href="#" class="wclose"><i class="fa fa-times"></i></a>
      </div>  
      <div class="clearfix"></div>
    </div>
    <div class="widget-content">
      <!-- Widget content -->
      <!-- Task list starts -->
      <div class="clearfix"></div>
        <ul class="project">

            {% for coding, date, percentual, color in my_codings %}
            <li>
                <p>
                    <!-- Minus -->
                    <i class="fa fa-minus"></i>
                    <!-- Name -->
                    {{ coding.title }}
                </p>

                <p class="p-meta">
                    <!-- Due date & % Completed -->
                    <span>Due : {{ date }} - {{ percentual }}% Done</span>
                </p>

                <!-- Progress bar -->
                <div class="progress progress-striped active">
                    <div class="{{color}}"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{percentual}}%">
                        <span class="sr-only">{{ percentual }}% Complete</span>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>

      <div class="widget-foot">
      </div>

    </div>
  </div>
</div>