{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}{% origin %}
{% load ietf_filters community_tags wg_menu streams_menu %}
{% load staticfiles %}

<!-- My CodeRequests widget -->
<div class="col-md-4">
  <div class="widget">
    <!-- Widget title -->
    <div class="widget-head">
      <div class="pull-left"><i class="fa fa-microphone"> </i> My CodeRequests</div>
      <div class="widget-icons pull-right">
          <!--
        <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
        <a href="#" class="wclose"><i class="fa fa-times"></i></a>-->
      </div>  
      <div class="clearfix"></div>
    </div>
    <div class="widget-content referrer">
      <!-- Widget content -->
      <div class="padd">
        <ul class="latest-news">
            {% for project in my_requests %}
          <li>
            <!-- Title and date -->
            <h5><i class="fa fa-minus"></i> <a href="{% url 'ietf.codematch.requests.views.show' project.id %}">{{ project.title }}</a> - {{ projectcontainer.code_request.creation_date|date:"d M Y" }}
            </h5>
            <div style="margin-left:15px">
                 <p><b>Tags:</b>
                 {% for tag in project.tags.all %}
                    {% if not forloop.first %}
                    ,
                    {% endif %}
                   {{ tag }}
                 {% endfor %}    
                 </p>
                <p><b>CodeMatches:</b> 
                 {% for coding in project.codings.all %}
                    {% if not forloop.first %}
                    |
                    {% endif %}
                    <a href="#">{{ coding.title }}</a>
                 {% endfor %}   
                </p>
            </div>
          </li>
          {% endfor %}
        </ul> 
      </div>
      <div class="widget-foot" >
        <button class="btn pull-right btn-xs btn-default" onclick="location.href = '{% url 'ietf.codematch.requests.views.new' %}'"><i class="fa fa-plus-square"></i> New CodeRequest</button>
        <div class="clearfix"></div>
        </div>
    </div>
  </div>
</div>