{% load ietf_filters widget_tweaks bootstrap3 %}

<h1>Search Options</h1>

<form class="codematch-search clearfix" role="form">

  <div class="col-md-6">
    <h2>Document search</h2>

    <div class="form-group">

      <div class="input-group">
        {% render_field form.doctitle class="form-control" placeholder="Draft-..." %}
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" name="submit" value="doctitle"><span class="fa fa-search"></span> Search IETF Documents</button>
	</span>
      </div>
<p>

<p>
      <div class="input-group">
        {% render_field form.protocol class="form-control" placeholder="Protocol..." %}
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" name="submit" value="protocol"><span class="fa fa-search"></span> Search in Protocols</button>
	</span>
      </div>

<p>
      <div class="input-group">
        {% render_field form.title class="form-control" placeholder="Title..." %}
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" name="submit" value="title"><span class="fa fa-search"></span> Search Codematch Info</button>
	</span>
      </div>

<p>
      <div class="input-group">
        {% render_field form.person class="form-control" placeholder="Person..." %}
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" name="submit" value="person"><span class="fa fa-search"></span> Search Document Authors</button>
	</span>
      </div>

    </div>

  </div>


  <a class="btn btn-default pull-right" href="{% url "ietf.codematch.views.showlist" %}">Back</a>

</form>
