{% load ietf_filters widget_tweaks bootstrap3 %}

<form class="codematch-search clearfix" role="form">

  <div class="col-md-6">

    <div class="form-group">
    	
    <div class="checkbox">
  		<label><input type="checkbox" name="title">Title</label>
	</div>
	
    <div class="checkbox">
  		<label><input type="checkbox" name="description">Description</label>
	</div>
	
	<div class="checkbox">
  		<label><input type="checkbox" name="protocol">Protocol</label>
	</div>
    
    <div class="checkbox">
  		<label><input type="checkbox" name="coder">Coder</label>
	</div>
	
	<div class="checkbox">
  		<label><input type="checkbox" name="workinggroup">Working Group</label>
	</div>
    
	<div class="checkbox">
  		<label><input type="checkbox" name="area">Area</label>
	</div>
    	
      <div class="input-group">
        {% render_field form.search class="form-control" placeholder="Search..." %}
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" name="submit" value="search"><span class="fa fa-search"></span> Search</button>
		</span>
      </div>

    </div>

  </div>

</form>
