{% extends "base_codematch.html" %}

{% load ietf_filters bootstrap3 widget_tweaks %}
{% load future %}

{% block title %} Edit CodeRequest {% endblock %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block pagehead %}
  <link rel="stylesheet" href="/css/lib/select2.css">
  <link rel="stylesheet" href="/css/lib/select2-bootstrap.css">
{% endblock %}

{% block content %}
<div class="content" style="padding:0">
    
    <!-- Main bar -->
    <div class="mainbar">
                    
	    <!-- Page heading -->
	    <div class="page-head">
		      <h2 class="pull-left"><i class="fa fa-microphone"></i> CodeRequests</h2>
	        <!-- Breadcrumb -->
	        <div class="bread-crumb pull-right">
	          <a href="{% url "ietf.codematch.views.index" %}"><i class="fa fa-home"></i> Home</a> 
	          <!-- Divider -->
	          <span class="divider">/</span> 
	          <a href="{% url "ietf.codematch.requests.views.show_list" %}" class="bread-current">Code Requests</a>
	          <span class="divider">/</span>
	          <a href="#" class="bread-current">Edit</a>
	        </div>
            
            <div class="clearfix"></div>
            
        </div>
        <!-- Page heading ends -->
        
        <!-- Matter -->
        
        <div class="matter">
            <div class="container">
                
                <!-- Recent News -->
                <div class="col-md-12">
                    <div class="widget">
                        <!-- Widget title -->
                        <div class="widget-head">
                            <div class="pull-left">
                                Editing CodeRequest
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget-content referrer">
                            <!-- Widget content -->
                            <form class="form-horizontal" action="{% url 'ietf.codematch.requests.views.edit' projectcontainer.id %}" method="post">
                           	{% csrf_token %}
                            <div class="padd">
								<div class="form-group">
									<label class="control-label col-xs-2">Title:</label>
									<div class="col-xs-4">
										{{ projform.title }}
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-xs-2">Protocol:</label>
									<div class="col-xs-4">
										{{ projform.protocol }}
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-xs-2">Description:</label>
									<div class="col-xs-4">
										{{ projform.description }}
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-xs-2">Mentor:</label>
									<div class="col-xs-4">
										{{ reqform.mentor }}
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-xs-2">Estimated level of effort:</label>
									<div class="col-xs-4">
										{{ reqform.estimated_lof }} <label> months</label>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-xs-2">Additional information:</label>
									<div class="col-xs-4">
										{{ reqform.additional_information }}
									</div>
								</div>
								
								<br />
								
								<div>
									{% if user.is_authenticated %}
									<form action="{% url 'ietf.codematch.requests.views.edit' projectcontainer.id %}" method="post">
										<div>
										{% if docs %}
				            				<h4><strong>Documents</strong></h4>
											{% for doc in docs %}
												{{ doc.document.group }}: <a  href="https://datatracker.ietf.org/doc/{{doc.name}}"> {{ doc.name }} </a>
												<a class="label label-info" href="{% url 'ietf.codematch.requests.views.remove_document' projectcontainer.id doc.name %}" >delete</a>
												<br />
											{% endfor %}
										{% endif %}
										<br />
									
										</div>
										{% if canadddocuments %}
											{{ docform }}
											{% csrf_token %}
											<input type="submit" value="Add related Document" />
										{% endif %}
										
										<br />
										<br />
										
										<div>
										{% if mails %}
				            				<h4><strong>Mails</strong></h4>
											{% for mail in mails %}
												{{ mail.type }}: <a  href="#"> {{ mail.mail }} </a>
												<a class="label label-info" href="{% url 'ietf.codematch.requests.views.remove_mail' projectcontainer.id mail.mail %}" >delete</a>
												<br />
											{% endfor %}
										{% endif %}
										<br />
									
										</div>
										{% if canaddmail %}
											{{ mailform }}
											{% csrf_token %}
											<input type="submit" value="Add mail" />
										{% endif %}
										
										<br />
										<br />		
										
										<div>
										{% if tags %}
			            				<h4><strong>Tags</strong></h4> 
			            					{% for tag in tags %}
					            				{% if not forloop.first %}
			            						,
			            						{% endif %}
			            						<a>#{{ tag }}</a>
			            					{% endfor %}
			            					<br />	
			            				{% endif %}
			            				<div>
										<br />
										{% if canaddtags %}
											<label>Tag:</label>
											{{ tagform.name }}
											{% csrf_token %}
											<input type="submit" value="Add new Tag" />
										{% endif %}
									
									</form>
									{% endif %}
									<br />
									
								</div>
								
								<br />
								
						   		<div class="widget-foot">
                                <p class="buttonlist">
                                	<div class="col-xs-offset-1" style="margin-left: 0px">
								    	<input type="submit" name="save" class="btn btn-primary" value="Update" />
										<a class="btn btn-default" href="{% url 'ietf.codematch.views.back' %}">Cancel</a>
                                	</div>
                                </p>
                            	</div>
                            	
                            </div>
							</form>
							
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <!-- Matter ends -->
        
    </div>
    
    <!-- Mainbar ends -->
    <div class="clearfix"></div>
    
</div>
<!-- Content ends -->
{% endblock %}