{% extends "base_codematch.html" %}

{% load ietf_filters %}

{% load url from future %}

{% block title %}List of CodeRequests{% endblock %}

{% block bodyAttrs %}data-spy="scroll" data-target="#affix"{% endblock %}

{% block content %}

<!-- Main content starts -->

<div class="content" style="padding:0">

  	  	<!-- Main bar -->
  	<div class="mainbar">
      
	    <!-- Page heading -->
	    <div class="page-head">
	      <h2 class="pull-left"><i class="fa fa-microphone"></i> CodeRequests</h2>
        <!-- Breadcrumb -->
        <div class="bread-crumb pull-right">
          <a href="{% url "ietf.codematch.views.index" %}"><i class="fa fa-home"></i> Home</a> 
          <!-- Divider -->
          <span class="divider">/</span> 
          <a href="#" class="bread-current">Code Requests</a>
        </div>

        <div class="clearfix"></div>

	    </div>
	    <!-- Page heading ends -->

	    <!-- Matter -->

	    <div class="matter">
        <div class="container">

		<div class="col-md-12">

              <!-- User widget -->
              <div class="widget">
                <div class="widget-head">
                  <div class="pull-left">
					<i class="fa fa-sort"></i> <span style="font-weight: lighter">Order by: </span> 
					<a 
					{% if attribute == "title" %} style="color: #A0A0A0"
					{% else %} href="{% url template typelist 'title' state %}"
					{% endif %}>Title</a> |
					<a 
					{% if attribute == "creation_date" %} style="color: #A0A0A0"
					{% else %} href="{% url template typelist 'creation_date' state %}"
					{% endif %}>Release date</a> |
					<a 
					{% if attribute == "code_request__estimated_lof" %} style="color: #A0A0A0"
					{% else %} href="{% url template typelist 'code_request__estimated_lof' state %}"
					{% endif %}>Estimated level of effort</a> |
					<a 
					{% if attribute == "popularity" %} style="color: #A0A0A0"
					{% else %} href="{% url template typelist 'popularity' state %}"
					{% endif %}>Popularity</a> |
					<a 
					{% if attribute == "protocol" %} style="color: #A0A0A0"
					{% else %} href="{% url template typelist 'protocol' state %}"
					{% endif %}>Protocol</a> |
					<a 
					{% if attribute == "docs__document__group__parent__name" %} style="color: #A0A0A0"
					{% else %} href="{% url template typelist 'docs__document__group__parent__name' state %}"
					{% endif %}>Working Group</a> |
					<a 
					{% if attribute == "docs__document__group__name" %} style="color: #A0A0A0"
					{% else %} href="{% url template typelist 'docs__document__group__name' state %}"
					{% endif %}>Area</a>
					
					<!--<a href="{% url "ietf.codematch.requests.views.show_list" 'title' %}">Area</a> | -->
					<!--<a href="#">Popularity</a> | -->
					<!-- <a href="#">Working Group</a> -->
				  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="widget-content">
		
		
		{% if projectcontainers %}
			{% for list, prop in projectcontainers %}
	          <div class="padd">
	               <div class="user">
	                   <div class="user-details" style="margin-left: 0px; margin-bottom:20px;">
	                {% if prop != "" %}
	                	<div>
	             			<h4><i class="fa fa-chevron-circle-right"> <a href="#">{{ prop }}</a></i></h4>
	             		</div>
	             	{% endif %}
				{% for projectcontainer in list %}   
						<h5><i> <a href="{% url 'ietf.codematch.requests.views.show' projectcontainer.id %}">{{ projectcontainer.title }}</a>
		                   	</i> {{ projectcontainer.code_request.creation_date|date:"d M Y" }}
	                      	{% if user.is_authenticated %}
	                   			{% if projectcontainer.owner == owner %}
		                   			<a class="label label-info" href="{% url 'ietf.codematch.requests.views.edit' projectcontainer.id %}" style="margin-left: 30px"><i class="fa fa-pencil"></i> Edit</a> 
				               		<a class="label label-warning" href="#" ><i class="fa fa-folder"></i> Archive</a>
			               		{% endif %}
		               			<a href="{% url 'ietf.codematch.matches.views.new' projectcontainer.id %}" class="label label-info" ><i class="fa fa-check"></i>Associate my project</a>
							{% endif %}
			            </h5>
	                   	<div style="margin-left:15px">
	                        <p>{{ projectcontainer.description|linebreaks }}</p>
			            </div>
	                   	{% for coding in projectcontainer.codings.all %}
	                      	<div style="margin: 0 0 20px 15px">
	                      		<h5><i class="fa fa-minus"></i> <a href="{% url 'ietf.codematch.matches.views.show' projectcontainer.id coding.id %}">{{ coding.title }}</a></h5>
	                      		<div style="margin-left:15px">
			                        <p>{{ coding.additional_information }}</p>
			            		</div>
	                        </div>
	                    {% endfor %}
				{% endfor %}
					   </div>
	 	    		</div>
	 	       </div>  
			{% endfor %}
		{% else %}
			<div class="alert alert-info" style="margin: 5px;">
			    <p align="center">
				No data to display  
			    </p>
		    </div>
		{% endif %}
	
              <div class="widget-foot">
                 <p class="buttonlist">
                 	{% if user.is_authenticated and canaddrequest %}
                 		<a class="btn btn-default" href="{% url "ietf.codematch.requests.views.new" %}">New Code Request</a>
                 	{% endif %}
                 	{% if projectcontainers %}
                 		<a class="btn btn-default" href="{% url "ietf.codematch.requests.views.search" typelist %}">Search</a>
                 	{% endif %}
                 	{% if state != ""%}
                 		<a class="btn btn-default" href="{% url 'ietf.codematch.views.back' %}">Back</a>
                 	{% endif %}
                 </p>
              </div>
            </div>

		</div>
 	    </div>

		<!-- Matter ends -->
    </div>

   <!-- Mainbar ends -->
   <div class="clearfix"></div>

</div>
<!-- Content ends -->

</div>

</div>

{% endblock %}