{% load ietf_filters widget_tweaks bootstrap3 %}

<form class="codematch-search clearfix" role="form">

  <div class="col-md-6">

    <div class="form-group">

<p>
      <div class="input-group">
        {% render_field form.protocol class="form-control" placeholder="Protocol..." %}
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" name="submit" value="protocol"><span class="fa fa-search"></span> Search in Protocols</button>
	</span>
      </div>

<p>
      <div class="input-group">
        {% render_field form.title class="form-control" placeholder="Title..." %}
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" name="submit" value="title"><span class="fa fa-search"></span> Search Codematch Info</button>
	</span>
      </div>

<p>
      <div class="input-group">
        {% render_field form.mentor class="form-control" placeholder="Mentor..." %}
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" name="submit" value="mentor"><span class="fa fa-search"></span> Search Document Mentors</button>
	</span>
      </div>

    </div>

  </div>

</form>
