{% extends "base_codematch.html" %}

{% load future %}

{% block title %}Details for Project - {{ projectcontainer.title }}{% endblock %}

<p>
	{% block pagehead %}
	<meta name="description" content="CodeMatch #{{projectcontainer.id}}: {{ projectcontainer.title }} ({{ projectcontainer.protocol }})" />
	{% endblock %}

{% block content %}

<!-- Main content starts -->

<div class="content" style="padding:0">

  	  	<!-- Main bar -->
  	<div class="mainbar">
      
	    <!-- Page heading -->
	    <div class="page-head">
	      <h2 class="pull-left"><i class="fa fa-microphone"></i> CodeRequests</h2>

        <!-- Breadcrumb -->
        <div class="bread-crumb pull-right">
          <a href="{% url "ietf.codematch.views.index" %}"><i class="fa fa-home"></i> Home</a> 
          <!-- Divider -->
          <span class="divider">/</span> 
          <a href="{% url "ietf.codematch.requests.views.show_list" %}" class="bread-current">Coding Requests</a>
          <!-- Divider -->
          <span class="divider">/</span> 
          <a href="#" class="bread-current">{{ projectcontainer.title }}</a>
        </div>

        <div class="clearfix"></div>

	    </div>
	    <!-- Page heading ends -->

	    <!-- Matter -->

	    <div class="matter">
        <div class="container">

		<div class="col-md-12">

              <!-- User widget -->
              <div class="widget">
                <div class="widget-head">
                  <div class="pull-left">
					<i class="fa fa-chevron-circle-right"></i>  {{ projectcontainer.title }}
				  </div>
                  <div class="clearfix"></div>
                </div>
                
                <div class="widget-content">
                  <div class="padd">
                  
				
                    <div class="user">

                      <div class="user-details" style="margin-left: 0px; margin-bottom:20px;">
                      	<div style="margin-left: 15px">
                      		
                      		<div class="row">
		                      <div class="col-md-4">
		                        <strong>Protocol:</strong> <a href="#">{{ projectcontainer.protocol }}</a><br />
	                      		<strong>Area:</strong> 
	                      		{% for area in areas %}
		            				{% if not forloop.first %}
		            				-
		            				{% endif %}
		            				<a href="#">{{ area }}</a>
	            				{% endfor %}
	                      		<a href="#">{{ area }}</a><br />
	                      		<strong>Working Group:</strong>
	                      		{% for group in workinggroups %}
		            				{% if not forloop.first %}
		            				-
		            				{% endif %}
		            				<a href="#">{{ group }}</a>
	            				{% endfor %}
		                      </div>
		
		                      <div class="col-md-4">
		                      	{% if user.is_authenticated %}
		                        <a href="{% url 'ietf.codematch.matches.views.new' projectcontainer.id %}" class="btn btn-info btn-xs" style="padding:1px 5px"><i class="fa fa-check"></i> Associate my project</a>
								{% endif %}
		                        <!-- Social Media strip -->
		                        <div id="media-strip">
		                        <a><i class="fa fa-facebook-square"></i></a>
		                        <a><i class="fa fa-twitter-square"></i></a>
		                        <a><i class="fa fa-google-plus-square"></i></a>
		                        </div>
	                          </div>            

		                    </div>

                      		<br />
                      		
                      		<h4><strong>Description</strong></h4>
		                    <p>{{ projectcontainer.description|linebreaks }}</p>
		                    
		                    <br />
		                    
		                    {% if user.is_authenticated and myrequest %}
	            				<h4><strong>Documents</strong></h4>
								{% for doc in docs %}
								{{ doc.document.group }}: <a  href="https://datatracker.ietf.org/doc/{{doc.name}}"> {{ doc.name }} </a>
								<br />
								{% endfor %}
								<br />
								<form action="{% url 'ietf.codematch.requests.views.show' projectcontainer.id %}" method="post">
									{{ docform }}
									{% csrf_token %}
									<input type="submit" value="Add related Document" />
								</form>
								<br />
							{% endif %}
		                    
		                    <h4><strong>Resources</strong></h4>
		                    Mentor: <a href="#">{{ projectcontainer.code_request.mentor.name }}</a><br />
		            		Mailing list: <a href="#">None</a><br /> <!-- <a href="#">None</a><br />-->
		            		Twitter: <a href="#">None</a><br />
		            		Facebook: <a href="#">None</a><br />
		            		Tags: 
	            			{% for tag in tags %}
	            				{% if not forloop.first %}
	            				-
	            				{% endif %}
	            				<a href="#">{{ tag }}</a>
	            			{% endfor %}
		            		
		            		<br />
		            		<br />
		            		
		            		{% if user.is_authenticated and myrequest %}
	            				<h4><strong>Tags</strong></h4>
								<form action="{% url 'ietf.codematch.requests.views.show' projectcontainer.id %}" method="post">
									{{ tagform }}
									{% csrf_token %}
									<input type="submit" value="Add new Tag" />
								</form>
								<br />
							{% endif %}		            		
		            		
		            		{% if projectcontainer.codings.all %}
			            		<h4><strong>CodeMatches</strong></h4>
			            		<ul>
			            			{% for coding in projectcontainer.codings.all  %}
			            			<li><a href="{% url 'ietf.codematch.matches.views.show' projectcontainer.id coding.id %}">{{ coding.title }}</a></li>
			            			{% endfor %}
			            		</ul>
		            		{% endif %}
                        </div>

                      </div>
                      <div class="clearfix"></div>
                    </div>
                    
                  </div>
					<div class="widget-foot">
						<div class="pull-right">
							<a class="btn btn-default btn-sm" href="{% url "ietf.codematch.requests.views.show_list" %}">Back</a>
						</div>
						<div class="clearfix"></div>
					</div>
                </div>
              </div>  

            </div>

		</div>
 	    </div>

		<!-- Matter ends -->

    </div>

   <!-- Mainbar ends -->
   <div class="clearfix"></div>

</div>
<!-- Content ends -->
{% endblock content %}
