{% extends "base_codestand.html" %}

{% load ietf_filters bootstrap3 widget_tweaks %}

{% load future %}
{% load staticfiles %}

{% block title %} Create a new CodeStand Project{% endblock %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block pagehead %}
  <link rel="stylesheet" href="{% static 'css/lib/select2.css' %}">
  <link rel="stylesheet" href="{% static 'css/lib/select2-bootstrap.css' %}">
  <style>
	#id_title { width: 300px; }
	#id_description { width: 300px; }
	#id_protocol { width: 300px; }
	#s2id_id_doc { width: 400px; margin-bottom: 10px; }
	#id_additional_information { width: 300px; }
    #div_contact { margin-left: 80px; margin-bottom: -40px" }  
    #id_contact { width: 300px; margin-right: 10px; margin-left: 5px; }
    #id_type { margin-left: 10px; margin-right: 10px; }  
	#id_link { width: 300px; margin-right: 10px; margin-left: 5px; }
	#id_name { width: 200px; margin-right: 10px; margin-left: 5px; }
  </style>
{% endblock %}

{% block content %}
<div class="content" style="padding:0">

    <!-- Main bar -->
    <div class="mainbar">

        <!-- Page heading -->
        <div class="page-head">
            <h2 class="pull-left"><i class="icon ion-arrow-shrink" style="font-size: 20px;"></i> Projects</h2>

            <!-- Breadcrumb -->
            <div class="bread-crumb pull-right">
                <a href="{% url 'ietf.codestand.views.index' %}"><i class="fa fa-home"></i> Home</a>
                <!-- Divider -->
                <span class="divider">/</span>
                <a href="{% url 'ietf.codestand.matches.views.show_list' %}" class="bread-current">Projects</a>
                <span class="divider">/</span>
                <a href="#" class="bread-current">New</a>
            </div>

            <div class="clearfix"></div>

        </div>
        <!-- Page heading ends -->

        <!-- Matter -->

        <div class="matter">
            <div class="container">

                <!-- Recent News -->
                <div class="col-md-12">
                    <div class="widget">
                        <!-- Widget title -->
                        <div class="widget-head">
                            <div class="pull-left">
                                Creating a new CodeStand Project
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget-content referrer">
                            <!-- Widget content -->
                            <form class="form-horizontal" action="{% url 'ietf.codestand.matches.views.edit' pk ck %}" method="post">
                            	{% csrf_token %}
                            	<div class="padd">
                            	{% if projectcontainer != None and projectcontainer.code_request != None %}
								<div class="form-group">
									<label class="control-label col-xs-2">Title:</label>
									<div class="col-xs-4" style="margin-top: 5px">
										{{ projectcontainer.title }}
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-xs-2">Protocol:</label>
									<div class="col-xs-4" style="margin-top: 5px">
										{{ projectcontainer.protocol}}
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-xs-2">Description:</label>
									<div class="col-xs-4" style="margin-top: 5px">
										{{ projectcontainer.description }}
									</div>
								</div>
								{% else %}
									<div class="form-group">
										<label class="control-label col-xs-2">Project title*:</label>
										<div class="col-xs-4">
											{{ projform.title }}
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-2">Protocol*:</label>
										<div class="col-xs-4">
											{{ projform.protocol}}
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-2">Description*:</label>
										<div class="col-xs-4">
											{{ projform.description }}
										</div>
									</div>
									<div style="margin-left: 100px">
									<div>
										{% if docs %}
				            				<h4><strong>Documents</strong></h4>
											{% for doc in docs %}
												{{ doc.document.title }}: <a  href="https://datatracker.ietf.org/doc/{{doc.name}}"> {{ doc.name }} </a>
												<a class="label label-info" href="{% url 'ietf.codestand.requests.views.remove_document' projectcontainer.id doc.name %}" onclick="return confirm('Are you sure you want to delete this item?');" >delete</a>
												<br />
											{% endfor %}
										{% endif %}
										<br />
									</div>
									{% if canadddocuments %}
										{{ docform }}
										{% csrf_token %}
										<input type="submit" name="button_doc" value="Add related Document" />
									{% endif %}

									<br />
									<br />
									</div>
								{% endif %}
								<hr />
								<div class="form-group">
									<label class="control-label col-xs-2">Coding title*:</label>
									<div class="col-xs-4">
										{{ codeform.title }}
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-xs-2">Coding info*:</label>
									<div class="col-xs-4">
										{{ codeform.additional_information }}
									</div>
								</div>
								{% if user.is_authenticated %}
								<form action="{% url 'ietf.codestand.matches.views.edit' pk ck %}" method="post">
								<div>
									{% if links %}
										<h4><strong>Implementations</strong></h4>
										{% for implementation in links %}
											<a href="{{ implementation }}">{{ implementation }}</a>
											<a class="label label-info" href="{% url 'ietf.codestand.matches.views.remove_link' ck implementation.link %}" onclick="return confirm('Are you sure you want to delete this item?');">delete</a>
										<br />
										{% endfor %}
									{% endif %}
									<br />
									{% if user.is_authenticated and canaddlinks %}
										<label class="control-label col-xs-2">URL*:</label>
										{{ linkform.link }}
                                        {% csrf_token %}
                                        <input type="submit" name="button_link" value="Add implementation" />
                                    {% endif %}
								</div>

								<br />
                                    
                                <div>
                                {% if contacts %}
                                    <h4><strong>Contacts</strong></h4>
                                    {% for c in contacts %}
                                        {{ c.type }}: <a  href="#"> {{ c.contact }} </a>
                                        <a class="label label-info" href="{% url 'ietf.codestand.matches.views.remove_contact' ck c.contact %}" onclick="return confirm('Are you sure you want to delete this contact?');">delete</a>
                                        <br />
                                    {% endfor %}
                                {% endif %}
                                <br />

                                </div>
                                {% if canaddcontact %}
                                    <div id='div_contact'>
                                    {{ contactform }}
                                    {% csrf_token %}
                                    <input type="submit" name="button_contact" value="Add contact" />
                                    </div>    
                                {% endif %}

                                <br />
                                <br />

                                <div>                                    
                                    
								<div>
									{% if tags %}
		            					<h4><strong>Tags</strong></h4>
		            					{% for tag in tags %}
				            				{% if not forloop.first %}
		            						,
		            						{% endif %}
		            						<a >{{ tag }}</a>
		            					{% endfor %}
		            					<br />
		            				{% endif %}
		            				<div>
									{% if user.is_authenticated and canaddtags %}
										<label style="margin-left: 160px">tags may be related to events, dates, protocols or other relative subject.</label><br />
										<label class="control-label col-xs-2">Tag:</label>
										{{ tagform.name }}
										{% csrf_token %}
										<input type="submit" name="button_tag" value="Add new Tag" />
									{% endif %}
									</div>
								</div>
								</form>
								{% endif %}

								<br />
        	<div class="padd">
			<p>(*) Denotes a required field.</p>
			<div class="clearfix"/>
		</div>						   		<div class="widget-foot">
                                <p class="buttonlist">
                                	<div class="col-xs-offset-1" style="margin-left: 0px">
								    	<input type="submit" name="button_save" class="btn btn-primary" value="Update" />
											<a class="btn btn-default" href="{% url 'ietf.codestand.views.back' %}">Cancel</a>
                                	</div>
                                </p>
                            	</div>
								</div>
							</form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Matter ends -->

    </div>

    <!-- Mainbar ends -->
    <div class="clearfix"></div>

</div>
<!-- Content ends -->
{% endblock %}

{% block js %}
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/select2-field.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/ipr-edit.js' %}"></script>
<script>
    jQuery("#confirm").click(function(){
        $("<div></div>").appendTo('body')
           .html('<div><h3> write your message for confirm dialog</h3></div>')
           .dialog({
                title: "Confotm Dialog" ,
                width:500, height:300,
                modal:true,
                resizable: false, 
                show: { effect: 'drop', direction: "left" }, 
                hide:{effect:'blind'}

                buttons: {
                    Yes: function() {
                          jQuery.ajax({
                              type:"POST", //post data
                              data:{'key':key}, //if you want to send any data to view 
                              url:'/get_viewerModal/' // your url that u write in action in form tag
                          }).done(function(result){
                               alert("am done") //this will executes after your view executed  
                          })
                     },
                    Cancel: function() {
                        $( this ).dialog( "close" );
                    }
               }
           });
    });
<script> 
{% endblock %}
