{% extends "base_codestand.html" %}

{% load ietf_filters %}

{% block title %}List of CodeStand Projects{% endblock %}

{% block bodyAttrs %}data-spy="scroll" data-target="#affix"{% endblock %}

{% block content %}
<!-- Main content starts -->

<div class="content" style="padding:0">

    <!-- Main bar -->
    <div class="mainbar">
        
        <!-- Page heading -->
        <div class="page-head">
            <h2 class="pull-left"><i class="icon ion-arrow-shrink" style="font-size: 20px;"></i> Projects</h2>

            <!-- Breadcrumb -->
            <div class="bread-crumb pull-right">
                <a href="{% url 'ietf.codestand.views.index' %}"><i class="fa fa-home"></i> Home</a>
                <!-- Divider -->
                <span class="divider">/</span>
                <a href="#" class="bread-current">Projects</a>
            </div>

            <div class="clearfix"></div>

        </div>
        <!-- Page heading ends -->
        
        <!-- Matter -->
        <div class="matter">
            <div class="container">
                
                <div>
		            <h3>A searchable database of coding projects or implementations of drafts and standards</h3>
		            <div class="clearfix"></div>
		        </div>
                
                <!-- Recent News -->
                <div class="col-md-12">
                    <div class="widget">
                        <!-- Widget title -->
                        <div class="widget-head">
                            <div class="pull-left">
                                <i class="fa fa-sort"></i> <span style="font-weight: lighter">Order by: </span>
                                <a
								{% if attribute == "title" %} style="color: #A0A0A0"
								{% else %} href="{% url template mylist 'title' state %}"
								{% endif %}>Title</a> |
								<a
								{% if attribute == "coder" %} style="color: #A0A0A0"
								{% else %} href="{% url template mylist 'coder' state  %}"
								{% endif %}>Coder</a> |
								<a
								{% if attribute == "-creation_date" %} style="color: #A0A0A0"
								{% else %} href="{% url template mylist '-creation_date' state %}"
								{% endif %}>Release date</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget-content referrer">
                            <!-- Widget content -->
                            <div class="padd">
                                <ul class="latest-news">
                            	{% if codings %}
                                	{% for coding, projectcontainer, coder, coder_id, isOwner in codings %}
	                               		<li>
	                                    	<!-- Title and date -->
	                                    	<!--<h5><a href="{% url 'show' projectcontainer.id coding.id %}">{{ coding.title }}</a> <span>by</span> <a href="{% url 'ietf.codestand.accounts.views.profile' coder_id %}">{{ coder }}</a>-->
                                            <h5><a href="{% url 'show' projectcontainer.id coding.id %}">{{ coding.title }}</a> <span>by</span> <a href="#">{{ coder }}</a>
            		                      	{% if user.is_authenticated and isOwner %}
					                   			<a class="label label-info" href="{% url 'ietf.codestand.matches.views.edit' projectcontainer.id coding.id %}" style="margin-left: 30px"><i class="fa fa-pencil"></i> Edit</a>
							               		<a class="label label-danger" href="{% url 'ietf.codestand.matches.views.delete' projectcontainer.id coding.id %}" onclick="return confirm('Are you sure you want to delete this Project?');"><i class="fa fa-times"></i> Delete</a>
                                                <a class="label label-warning" href="{% url 'ietf.codestand.matches.views.archive' coding.id %}" ><i class="fa fa-folder"></i>
                                                {% if coding.is_archived %}                                            
                                                    Unarchive
                                                {% else %}
                                                    Archive
                                                {% endif %}
                                            </a>
											{% endif %}
											</h5>
	                                    	<p>{{ coding.additional_information|linebreaks }}</p>
	                                    	<p>
	                                    	{% if projectcontainer.code_request == None or projectcontainer.is_archived or projectcontainer.is_deleted %}
	                                    	CodeRequest: 	 <a href="#">None</a>
	                                    	{% else %}
	                                    	CodeRequest: 	 <a href="{% url 'ietf.codestand.requests.views.show' projectcontainer.id %}">{{ projectcontainer.title }}</a>
	                                    	{% endif %}
	                                    	| Protocol:  	 <a href="#">{{ projectcontainer.protocol }}</a>
	                                    	| Area:    	 	 <a href="#">
                                    		{% for areas, proj in areas_list %}
                                				{% if proj == projectcontainer %}
                                					{% for a in areas %}
							            				{% if not forloop.first %}
	            										-
            											{% endif %}
						            					<a href="#">{{ a }}</a>
						            				{% endfor %}
						            			{% endif %}
				            				{% endfor %}
				            				</a>
	                                    	| Working Group: <a href="#">
                                    		{% for workinggroups, proj in workinggroups_list %}
                                				{% if proj == projectcontainer %}
                                					{% for wg in workinggroups %}
							            				{% if not forloop.first %}
	            										-
            											{% endif %}
						            					<a href="#">{{ wg }}</a>
						            				{% endfor %}
						            			{% endif %}
				            				{% endfor %}
				            				</a>
	                                    	</p>
	                                	</li>
                                	{% endfor %}
					</ul>
                                {% else %}
								<div class="alert alert-info" style="margin: 5px;">
								    <p align="center">
									No data to display
								    </p>
							    </div>
								{% endif %}
                            </div>
                            <div class="widget-foot">
                                <p class="buttonlist">
                                {% if user.is_authenticated %}
                                	<a class="btn btn-default" href="{% url 'ietf.codestand.matches.views.new' %}">New Project</a>
                                {% endif %}
                                {% if codings %}
                                	<a class="btn btn-default" href="{% url 'ietf.codestand.matches.views.search' mylist %}">Search</a>
                                {% endif %}
                             	{% if state == "True"%}
                 					<a class="btn btn-default" href="{% url 'ietf.codestand.views.back' %}">Back</a>
                				{% endif %}
                                {% if codings %}
                                    <ul class="pagination">
                                        <li><a
                                            {% if page == 1 %} style="color: #A0A0A0"
								            {% else %} href="{% url template mylist attribute state 1 %}"
                                            {% endif %}>&laquo;</a>
                                        </li>
                                        {% for i in pages %}
                                            <li><a
                                                {% if i == page %}
                                                class="active"
                                                {% endif %}
                                                {% if page == i %} style="color: #A0A0A0"
								                {% else %} href="{% url template mylist attribute state i %}"
                                                {%endif%}>{{i}}</a></li>
                                        {% endfor %}
                                         <li><a
                                            {% if page == numpages %} style="color: #A0A0A0"
								            {% else %} href="{% url template mylist attribute state numpages %}"
                                            {% endif %}>&raquo;</a>
                                        </li>
                                    </ul>
                                {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Matter ends -->

    </div>

    <!-- Mainbar ends -->
    <div class="clearfix"></div>

</div>
<!-- Content ends -->

{% endblock %}
