{% extends "base_codestand.html" %}

{% load ietf_filters bootstrap3 widget_tweaks %}
{% load future %}
{% load staticfiles %}

{% block title %} Create a new CodeRequest {% endblock %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block pagehead %}
  <link rel="stylesheet" href="{% static 'css/lib/select2.css' %}">
  <link rel="stylesheet" href="{% static 'css/lib/select2-bootstrap.css' %}">
  <style>
	#id_title { width: 300px; }
	#id_description { width: 300px; }
	#id_protocol { width: 300px; }
	#id_estimated_lof { width: 200px; }
	#id_additional_information { width: 300px; }
	#s2id_id_doc { width: 400px; margin-bottom: 10px; }
	#id_contact { width: 200px; margin-left: 10px; margin-right: 10px; }
	#id_type { margin-left: 10px; margin-right: 10px; }
	#id_name { width: 200px; margin-left: 10px; margin-right: 10px; }
  </style>
{% endblock %}

{% block content %}
<div class="content" style="padding:0">

    <!-- Main bar -->
    <div class="mainbar">

	    <!-- Page heading -->
	    <div class="page-head">
		      <h2 class="pull-left"><i class="fa fa-microphone"></i> CodeRequests</h2>
	        <!-- Breadcrumb -->
	        <div class="bread-crumb pull-right">
	          <a href="{% url "ietf.codestand.views.index" %}"><i class="fa fa-home"></i> Home</a>
	          <!-- Divider -->
	          <span class="divider">/</span>
	          <a href="{% url "ietf.codestand.requests.views.show_list" %}" class="bread-current">Code Requests</a>
	          <span class="divider">/</span>
	          <a href="#" class="bread-current">New</a>
	        </div>

            <div class="clearfix"></div>

        </div>
        <!-- Page heading ends -->

        <!-- Matter -->

        <div class="matter">
            <div class="container">

                <!-- Recent News -->
                <div class="col-md-12">
                    <div class="widget">
                        <!-- Widget title -->
                        <div class="widget-head">
                            <div class="pull-left">
                                Creating a new CodeRequest
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget-content referrer">
                            <!-- Widget content -->
                            <form class="form-horizontal" action="{% url 'ietf.codestand.requests.views.new' %}" method="post">
                           	{% csrf_token %}
                            <div class="padd">
								<div class="form-group">
									<label class="control-label col-xs-2">Title*:</label>
									<div class="col-xs-4">
										{{ projform.title }}
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-xs-2">Protocol*:</label>
									<div class="col-xs-4">
										{{ projform.protocol }}
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-xs-2">Description*:</label>
									<div class="col-xs-4">
										{{ projform.description }}
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-xs-2">I'm Mentor:</label>
									<div class="col-xs-4">
                                        <input type="checkbox" name="chkMentor" id="chk-mentor"
                                        {% if checked %} checked
                                        {% else %} unchecked {% endif %}
                                        >
                                    </div>
                                </div>
								<div class="form-group">
									<label class="control-label col-xs-2">Mentor:</label>
									<div class="col-xs-4" id="details">
                                        {{ mentorform.mentor }}
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-xs-2">Estimated level of effort:</label>
									<div class="col-xs-4">
										{{ reqform.estimated_lof }} <label> months</label>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-xs-2">Additional information:</label>
									<div class="col-xs-4">
										{{ reqform.additional_information }}
									</div>
								</div>                                 
								<br />
								<div class="padd">
								<div>
									{% if user.is_authenticated  %}
									<form action="{% url 'ietf.codestand.requests.views.new' %}" method="post">
										<div>
										{% if user.is_authenticated and docs and canadddocuments %}
				            				<h4><strong>Documents</strong></h4>
											{% for doc in docs %}
												{{ doc.document.title }}: <a  href="https://datatracker.ietf.org/doc/{{doc.name}}"> {{ doc.name }} </a>
												<a class="label label-info" href="{% url 'ietf.codestand.requests.views.remove_document' 0 doc.name %}" onclick="return confirm('Are you sure you want to delete this document?');">delete</a>
												<br />
											{% endfor %}
											<br />
										{% endif %}
										</div>
										<div>
											{{ docform }}
											{% csrf_token %}
											<input type="submit" name="button_doc" value="Add related Document" />
										</div>
										<br />
										<br />

										<div>
										{% if contacts %}
					            				<h4><strong>Contacts</strong></h4>
											{% for c in contacts %}
												{{ c.type }}: <a  href="#"> {{ c.contact }} </a>
												<a class="label label-info" href="{% url 'ietf.codestand.requests.views.remove_contact' 0 c.contact %}" onclick="return confirm('Are you sure you want to delete this contact?');">delete</a>
												<br />
											{% endfor %}
										{% endif %}
										<br />

										</div>
										<div>
										{% if canaddcontact %}
											{{ contactform }}
											{% csrf_token %}
											<input type="submit" name="button_contact" value="Add contact" />
										{% endif %}

										<br />
										<br />
										</div>
										<div>
										{% if user.is_authenticated and tags and canaddtags %}
			            				<h4><strong>Tags</strong></h4>
			            					{% for tag in tags %}
					            				{% if not forloop.first %}
			            						,
			            						{% endif %}
			            						<a>{{ tag }}</a>
			            					{% endfor %}
			            					<br />
			            				{% endif %}
			            				<div>
										<br />
										<label >tags may be related to events, dates, protocols or other relative subject.</label><br />
										<label>Tag:</label>
										{{ tagform.name }}
										{% csrf_token %}
										<input type="submit" name="button_tag" value="Add new Tag" />
									</form>
									<br />
									{% endif %}
								</div>
								<br />

			<div>
				<p>(*) Denotes a required field.</p>
				<div class="clearfix"/>
			</div>

			<div class="widget-foot">
	                                <p class="buttonlist">
	                                	<div class="col-xs-offset-1" style="margin-left: 0px">
								    		<input type="submit" name="button_save" class="btn btn-primary" value="Submit" />
											<a class="btn btn-default" href="{% url 'ietf.codestand.views.back' %}">Cancel</a>
	                                	</div>
	                                </p>
                            	</div>
				</div>
                            </div>
							</form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Matter ends -->

    </div>

    <!-- Mainbar ends -->
    <div class="clearfix"></div>

</div>

<!-- Content ends -->
{% endblock %}

{% block js %}
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/select2-field.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/ipr-edit.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
     //disable on page load
     {% if checked %}
        $('#details :input').attr('disabled', true);
     {% else %}
        $('#details :input').attr('disabled', false);
     {% endif %}
     
     $('#chk-mentor').change(function() {
          $('#details :input').attr('disabled', this.checked);
     })
});
$('#chk-mentor').change(function() {
     $('#details :input').attr('disabled', !this.checked);
});
</script>
{% endblock %}
